$mainColor: #54d669;
$pageMaxWidth: 1920px;
$pageContentWidth: 1280px;
$navBg: #000;
$navCongainerBg: #000;
$fontSizeM: 14px;
$fontFamily:
  'PingFangSC', 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica,
  Arial, sans-serif;
$menuItemBgColor: #000;
$menuItemColor: #fff;
$menuItemHoverBgColor: $mainColor;
$menuItemHoverColor: #000;
$menuItemSelectedBgColor: $mainColor;
$menuItemSelectedColor: #000;
