@use 'public/css/var' as *;

.f4y {
  &__nav {
    background: $navBg;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    &__container {
      margin: 0 auto;
      width: $pageContentWidth;
      background: $navCongainerBg;

      &__logobar {
        position: relative;
        height: 80px;
        margin: 0 auto;
        width: $pageContentWidth;
        &__logo {
          position: absolute;
          top: 30px;
          left: 0;
          height: 30px;
          width: 156px;
        }
      }
      &__menu {
        height: 60px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: $pageContentWidth;
        &__item {
          height: 60px;
          display: flex;
          padding: 0 30px;
          align-items: stretch;
          color: $menuItemColor;
          background: $menuItemBgColor;
          font-family: $fontFamily;
          font-size: $fontSizeM;
          cursor: pointer;
          user-select: none;
          transition:
            color 0.3s ease-in-out,
            background 0.3s ease-in-out;

          a {
            color: $menuItemColor;
            text-decoration: none;
            align-items: center;
            display: flex;
          }

          &:hover {
            a {
              color: $menuItemHoverBgColor;
            }
          }

          &--selected {
            background: $menuItemSelectedBgColor;
            color: #000;
            a {
              color: #000;
            }
          }
        }
      }
    }
  }

  &__body__scroll {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    scroll-behavior: smooth;
  }

  &__footer {
    height: 760px;
    background: #2c2e2d;

    &__container {
      width: 1280px;
      height: 760px;
      margin: 0 auto;
      background: #2c2e2d;
      position: relative;

      &__location {
        width: 760px;
        height: 265px;
        position: absolute;
        left: 381px;
        top: 354px;
        background: #fff;

        &__contactus {
          position: absolute;
          left: 386px;
          top: 0;
          right: 0;
          bottom: 0;
          width: 374px;

          &__title {
            position: absolute;
            top: 44px;
            left: 66px;
            font-family: $fontFamily;
            font-size: 20px;
            margin: 0;
            padding: 0;
            font-weight: 700;
            color: #1a1a1a;
          }

          &__row {
            display: flex;
            height: 14px;
            position: absolute;
            left: 66px;
            right: 0;
            font-size: 12px;
            top: 97px;
            align-items: center;
            gap: 10px;
          }
        }
      }

      &__logo {
        position: absolute;
        left: 0;
        top: 119px;
        width: 156px;
        height: 30px;
      }

      &__links {
        height: 500px;
        position: absolute;
        width: 760px;
        display: flex;
        flex-direction: row;
        left: 380px;
        top: 119px;
        &__item {
          flex-grow: 1;
          h3 {
            font-size: 18px;
            color: #fff;
            margin: 0;
            margin-bottom: 20px;
          }
          &__row {
            color: #fff;
            font-size: 14px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            &__container {
              gap: 10px;
              display: flex;
            }
            a {
              color: #fff;
              text-decoration: none;
            }
            &__desc__img {
              width: 300px;
              height: 300px;
              overflow: hidden;
              border-radius: 8px;
              border: 1px solid #999;
            }
          }
        }
      }
    }
  }
}
